*{margin: 0px;}
.caja1
{
    border: 4px solid black;
    width: 150px; height: 100px;
    position: relative;
    top: 125px;
    left: 550px;
    border-radius: 50%;
} 
.caja1-1
{
    border: 4px solid black;
    width: 30px; height: 30px;
    position: absolute;
    top: 20px;
    left: 30px;
    border-radius: 50%;
}
.caja1-1-1
{
    border: 4px solid black;
    width: 0px; height: 0px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}
.caja1-1-2
{
    border: 4px solid black;
    width: 0px; height: 0px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}
.caja1-2
{
    border: 4px solid black;
    width: 30px; height: 30px;
    position: absolute;
    top: 20px;
    left: 80px;
    border-radius: 50%;
}
.caja2
{
    border: 4px solid black;
    width: 150px; height: 150px;
    position: relative;
    top: 120px;
    left: 550px;
    border-radius: 50%;
} 
.caja2-1
{
    border: 4px solid black;
    width: 20px; height: 20px;
    position: absolute;
    top: 10px;
    left: 60px;
    border-radius: 50%;
}
.caja2-2
{
    border: 4px solid black;
    width: 20px; height: 20px;
    position: absolute;
    top: 50px;
    left: 60px;
    border-radius: 50%;
}
.caja2-3
{
    border: 4px solid black;
    width: 20px; height: 20px;
    position: absolute;
    top: 90px;
    left: 60px;
    border-radius: 50%; 
}
.caja3
{
    border: 4px solid black;
    width: 250px; height: 150px;
    position: relative;
    top: 110px;
    left: 510px;
    border-radius: 50%;
} 
.caja4
{
    background-color: blue;
    width: 200px; height: 35px;
    position: relative;
    top: -320px;
    left: 530px;
    border-radius: 50%;
}
.caja4-1
{
    background-color: blue;
    width: 100px; height: 100px;
    position: absolute;
    top: -80px;
    left: 50px;

}
